@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@roboto: 'Roboto', sans-serif;

@white: #ffffff;
@offwhite: #f2f2f2;
@red: #811023;

body{
	font-family: @roboto;
}

a {
  background-color: transparent;
  text-decoration: none;
  &:hover,&:active{
	outline: 0;
	text-decoration: none;
  }
}

.site-header {
	.navbar {
		margin-bottom: 0;
		border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
	}
}

.site-wrapper {
	padding: 25px 0;
	overflow: hidden;
	@media (min-width: 768px) {
		padding: 75px 0;	
	}	
}

.grid-row {
	.grid-col {
		.post-item {
			padding: 10px 15px;
			height: 150px;
			position: relative;
			width: 100%;
			margin-bottom: 15px;			
			float: left;
			overflow: hidden;
			transform-style: preserve-3d;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
			transition: all 250ms;			
			a {
				color: @white;
				.post-image {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					transform: translateY(0);
					overflow: hidden;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
				.post-text {
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 10px 15px;
					width: 100%;
					text-align: right;
					z-index: 2;
					opacity: 1;
					-webkit-transition: all 300ms;
					-o-transition: all 300ms;
					-moz-transition: all 300ms;
					-ms-transition: all 300ms;
					transition: all 300ms;
					.post-title {
						font-size: 17px;
						font-weight: 700;
						line-height: 1.2;
						color: #4d4d4d;
						margin-top: 11.5px;
						margin-bottom: 11.5px;						
						margin: 0;
						color: @white;
						text-decoration: underline;
						@media (min-width: 768px) {
							font-size: 22.4px;
						}
					}					
					.post-excerpt {
						line-height: 1.4;
						font-style: italic;
						font-size: 85%;
						display: block;	
						color: @offwhite;
					}
					.post-data {
						margin-top: 10px;
						.post-meta {
							padding-left: 10px;
							text-align: right;
							float: left;
							.views {
								font-size: 85%;
								font-style: italic;
								color: @offwhite;
								line-height: 1.4;
								margin-bottom: 5px;
								i {
									margin-left: 5px;
								}
							}
							.likes {
								font-size: 85%;
								font-style: italic;
								line-height: 1.4;
								margin-bottom: 5px;
								color: @offwhite;
								i {
									margin-left: 5px;
								}
							}
						}
						.post-desc {
							line-height: 1.4;
							font-style: italic;
							font-size: 85%;
							display: block;	
							color: @offwhite;
							@media (max-width: 991px) {
								height: 60px;
								overflow: hidden;
							}
						}
					}					
					&.hover-text {
						bottom: -100%;
						opacity: 0;
					}
				}
				.overlaw-div {
					position: absolute;
					height: 100%;
					width: 100%;
					left: 0;
					bottom: 0;
					z-index: 1;
					background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.5) 100%);
				}
				&:hover {
					.post-text {
						bottom: -100%;
						opacity: 0;
					}
					.hover-text{
						bottom: 0;
						opacity: 1;
					}
				}
			}			
			&.post-half {
				@media (min-width: 480px) {
					width: 49%;				
					margin-right: 1%;
					+ .post-half {
						margin-right: 0;
						margin-left: 1%;
					}	
				}			    
			}
			&.post-full {
				@media (min-width: 480px) {
					height: 300px;	
				}				
			}
			&:hover {
				transform: translateY(-2px);
				box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
			}
			@media (min-width: 480px) {
				margin: 5px 0;
			}
		}
		&:nth-child(odd) {
			@media (min-width: 768px) {
				padding-right: 5px;
			}
		}
		&:nth-child(even) {
			@media (min-width: 768px) {
				padding-left: 5px;
			}
		}
	}
}

.load-wrap {
	text-align: center;
	margin: 0 0 40px 0;	
	.spinner {
		width: 70px;
		margin: 0 auto;
		text-align: center;
		> div {
			width: 18px;
			height: 18px;
			background-color: #333;
			border-radius: 100%;
			display: inline-block;
			-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
			animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}
		.bounce1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}
		.bounce2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
        &.loading-done {
            display: none;
        }
    }	
	#load-more {
		font-size: 14px;
		line-height: 1.7;
		display: inline-block;
		padding: 10px 30px;
		text-transform: uppercase;
		background-color: @offwhite;
		color: #af152f;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
		cursor: pointer;
		border-radius: 2px;
		transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		transition-delay: 0.2s;
		&:hover{
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
			color: @white;
			background-color: @red;
			border-color: #620c1a;
		}
	}
	@media (min-width: 768px) {
		margin: 0 0 75px 0;	
	}
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}